* { box-sizing: border-box;}

@media screen and (max-width: 600px) {

}

body {
  font-family: "Georgia", "Times New Roman", Times, serif;
  background-color: #F4F4F4;
  color: #373737;
  margin: 10px;
}

.headerPic {
  margin-top: 20px;
  width: 100%;
}

footer {
  clear:both;
  padding:20px;
  bottom:0px;
  background-color: #373737;
  color:#D4A59A;
  text-align: right;
}

/*----- LOGO -----*/
#PageLoad {
  height: auto%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}

#nextButton {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #C0B283;
    color: #373737;
    margin-left: 45%;
}

#nextButton:hover {
  background-color: #D4A59A;
}

/*----- NAVBAR -----*/
#navBar ul{
  list-style: none;
}

#navBar ul li{
  margin-top: 12px;
  font-size: 16px;
  text-transform: uppercase;
}

#navBar a {
  text-decoration: none;
  color: #373737;
}

#navBar a:hover:not(.active) {
  background-color: transparent;
  color: #D4A59A;
}

#navBar .active {
  background-color: transparent;
  color: #C0B283
}

#logo {
  width:50px;
  height: auto;
}

.fullPage {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
	  padding-top: 5px;
	  padding-bottom: 100px;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

/*----- HOME -----*/
#aboutMe {
  float: right;
  padding: 30px;
  width: 63%;
  background-color: #D4A59A;
}

#describe, #aboutMe h3{
  text-align: right;
}

.photo {
  float: left;
  display: block;
  width: 35%;
}

/*----- SKILLS -----*/
#skills {
  clear: both;
  padding-top: 20px;
}

.skills {
  float:left;
  background-color: #DCD0C0;
  padding: 0px 20px;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.h_heading {
  clear: both;
  text-align: center;
  margin-top: 50px;
  border: 2px solid #373737;
}

.skills h3 {
  background-color: #C0B283;
  text-decoration: underline;
  text-align: center;
}

.skills li {
  list-style-type: none;
  text-align: left;
}

.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*----- PORTFOLIO -----*/
#port-intro {
  padding: 10px;
  background-color: #DCD0C0;
  text-align: center;
  color: #373737;
}

.artwork {
  width = 100%;
  padding: 10px;
}

.artwork h3 {
  padding: 10px;
  text-align: center;
  color: #373737;
  background-color: #C0B283;
}

.artwork-desc {
  text-align: right;
  padding: 20px;
  float: right;
  width: 38%;
  color: #373737;
  background-color: #D4A59A;
}

.a1photo {
  float: left;
  width: 60%;
  height: auto;
}

.a2photo {
  float: left;
  padding: 10px;
  width: 25%;
  height: auto;
}

/*----- RESUME -----*/
#pdf_holder {
    padding-bottom: 100%;
}

#btndiv {
  padding-top: 25px;
}

#download_button {
  background-color: #C0B283;
  color: #373737;
  width: auto;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

#download_button:hover {
  background-color: #D4A59A;
}


/*----- CONTACT -----*/
#contact {
  width: 100%;
  margin-bottom: 50px;
  text-align: left;
  align: left;
}

#contact p {
  font-size: 15px;
}

.contactImg {
  width: 32%;
  height: auto;
}

#contactLogo {
  float: right;
  width: 32%;
  height: auto;
}

#socialMedia p {
  display: inline-block;
  font-size: 13px;
}

#socialMedia h3 {
  padding: 3px;
  background-color: #D4A59A;
  text-align: center;
}

#socialMedia {
  width: 32%;
  padding: 20px;
  float: right;
}

#sendMsg {
  padding: 10px;
}

#sendMsg p {
  width: 65%;
  font-size: 15px;
  background-color: #C0B283;
  padding: 3px;
  text-align: center;
}

#contactForm {
  float: left;
  box-sizing: border-box;
  width: 65%;
  overflow: hidden;
  text-align: right;
}

#contactForm input, #contactForm textarea {
  line-height: 20px;
  width: 100%;
  outline: none;
  background: none;
  border: 0;
  border-radius: 0;
  margin-bottom: 20px;
}

#contactForm input[type="text"], #contactForm input[type="email"] {
  border-bottom: 2px solid #373737;
}

#contactForm textarea {
  background: none;
  outline: none;
  height: 150px;
  background-color: #DCD0C0;
  resize: none;
}

#contactForm input[type=submit] {
  background-color: #C0B283;
  width: auto;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#contactForm input[type=submit]:hover {
  background-color: #D4A59A;
}

#inprocess {
  padding: 30px;
  background-color: #DCD0C0;
  height: 300px;
}
