* { box-sizing: border-box;}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  color: black;
}

header {
  background-color: #ff9999;
  padding: 30px;
  text-align: center;
  font-family: "Marker Felt", fantasy;
  font-size: 28px;
  font-variant: small-caps;
  font-weight: normal;
  font-stretch: extra-expanded;
  color:white;
  text-shadow: 3px 3px #ff5050;
}

footer {
  clear:both;
  padding:10px;
  bottom:0px;
  background-color: #ff9999;
  color:white;
  text-align: right;
}

nav ul {
  clear:both;
  font-size: 20px;
  padding:10px;
}

nav ul li {
  text-align: center;
  display: inline;
  margin:10px;
  border-bottom: 2px solid grey;
}

.container{
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.image{
  display: block;
  width: 50%;
  height: auto;
}

.overlay{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #5BCDE8;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay{
  width:100%;
}

.text{
  white-space: nowrap;
  color: white;
  font-size: 24px;
  position: absolute;
  word-break:keep-all;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.skills {
  float:left;
  background-color: #ffe6e6;
  padding: 0px 20px;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.h_heading {
  text-align: center;
  margin-top: 50px;
  border: 2px solid black;
}

.skills h3 {
  text-decoration: underline;
  text-align: center;
}

.skills li {
  list-style-type: none;
}

.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#contact{
  padding: 50px;
  width: 100%;
  margin-bottom: 50px;
}

input[type=text], select, textarea{
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  resize:vertical;
}

#email{
  width: 60%;
}

#msg{
  width: 50%;
  height: 150px;
}

label{
  padding: 10px;
  display: inline-block;

}
input[type=submit] {
  background-color: pink;
}

input[type=submit]:hover {
  background-color: red;
}

#submitButton {
  display: inline-block;
  padding: 10pt;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: pink;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

#submitButton:hover {
  background-color: red;
}

#submitButton:active {
  background-color: salmon;
  box-shadow: 0 5px #777
  transform: translateY(4px);
}

@media screen and (max-width: 600px) {
  .nav ul li{
    float: none;
    width= 100:
  }
}
